html { 
	background: url(images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
	margin: 0;
	padding: .25em;
	font-size: 400%;
	font-family: "Times New Roman", "Arial";
}
body {
	font-size: 120%;
	font-family: "Times New Roman", "Arial";
}
p em {
	color: #00FF00;
}
.classtest {
	color: purple;
	font-size: 170%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
a:hover {
	font-size: 200%;
}

/EXTRA STUFF TO REMEMBER/
/*<a href="url">link text</a>*/
