/* the styles for the elements */
* {
	margin: 0;
	padding: 0; }




/*_________________________________*/
/* the styles for the html element */
/*_________________________________*/


html {
	background-color: white; }




/*_________________________________*/
/* the styles for the body element */
/*_________________________________*/


body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded; }
a:focus, a:hover {
	font-style: italic; }




/*___________________________________*/
/* the styles for the header element */
/*___________________________________*/


header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
		background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%); }
header h2 {
	font-size: 175%;
	color: #800000; }
header h3 {
	font-size: 130%;
	font-style: italic; }
header img {
	float: left;
	padding: 0 30px; }
.shadow {
	text-shadow: 2px 2px 2px #800000; }




/*____________________________________*/
/* the styles for the navigation menu */
/*____________________________________*/


#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative; }
#nav_menu ul li {
	float: left; }
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold; }
#nav_menu a.current {
	color: yellow; }
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%; }
#nav_menu ul ul li {
	float: none; }
#nav_menu ul li:hover > ul {
	display: block; }
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block; }




/*_________________________________*/
/* the styles for the main element */
/*_________________________________*/


main {
	clear: left; }




/*____________________________________*/
/* the styles for the section element */
/*____________________________________*/


section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px; }
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0; }
section h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0; }
section p {
	padding-bottom: .5em; }
section blockquote {
	padding: 0 2em;
	font-style: italic; }
section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle; }
section li {
	padding-bottom: .35em; }
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000; }
article h2 {
	padding-top: 0; }
article h3 {
	font-size: 105%;
	padding-bottom: .25em; }
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black; }
aside {
	width: 215px;
	float: right;
	padding: 0 0 20px 20px; }
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0; }
aside h3 {
	font-size: 105%;
	padding-bottom: .25em; }
aside img {
	padding-bottom: 1em; }





/*_________________________________*/
/* the styles for the table element*/
/*_________________________________*/


table {
	dispaly: block; }
tr, th, td {
	border-bottom-color: #800000;
	border-top-color: #800000;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	padding-left: .7em;
	padding-right: .7em; }		
.costsavings {
	font-weight: bold; }
.thatdamnpadding {
	padding-right: 0 !important; }
figure {
	margin: 0; }




/*__________________________________*/
/* the styles for the footer element*/
/*__________________________________*/


footer {
	background-color: #931420;
	clear: both; }
footer p {
	text-align: center;
	color: white;
	padding: 1em 0; }
